.custom_padding{
	padding-top:2.5em;
}
input[type=radio], .radio-inline{
	margin-top: 0.2em !important;
}
.custom_padding_with_label{
	padding-top:0.6em;
}

.custom_green{
	color:#4dcb5f;
}

input[readonly].flatpickr-input {
   background-color: #fff;
   cursor: pointer;
}

.image-modal{
	height: 40em;
}
.image-modal img {
	max-width: 100%;
}


.btn-purple, .btn-purple:focus{
	color: #fff !important;
	background-color: #89219b;
	border-color: #89219b;
	opacity: 0.8;
}
.btn-purple:hover,  .btn-purple:active:hover, 
.btn-purple:active.hover, .btn-purple:focus:hover,
.btn-purple:focus.hover{
	background-color: #87109b;
	border-color: #83089b;
	opacity: 1;
}