body{
	width: 100%;
    height: 100%;
     /*background-color: #94618E; */
    background-color: #34306b;

    border: 0;
    margin: 0;
    
}

#container_login3{
    width: 100em;
    height: 100em;
    /*https://openclipart.org/image/2400px/svg_to_png/255664/Prismatic-Musical-World-Map-No-Background.png*/
    background: url(http://images.easyfreeclipart.com/969/music-notes-clip-art-png-clipart-panda-free-images-969805.png);
}

.form-login{
    width: 500px;
    height: 600px;
	margin: auto;
	position: absolute;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
    background:url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
    border-radius:5px;

}

#login-box{
    border-radius:5px;
	padding-top: 7em;
	padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    widows: 500px;
    height: 600px;
    background:rgba(49,44,128,.9);

}

#login-box-interno-label{
	text-align: center;
	margin-top: 20px;
	color:white;
}

button.btn {
	height: 50px;
	width: 100%;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #a933b4;
    border: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

button.blue{
	background: #99b9ea !important;
}

button.green{
	background: #ade39f !important;
}

button.btn:hover { opacity: 0.6; color: #fff; background: #a933b4;}

button.btn:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; background: #a933b4;}

button.btn:active:focus, button.btn.active:focus { outline: 0; opacity: 0.6; background: #a933b4; color: #fff; }

button.btn:focus { outline: 0; opacity: 0.6; background: #a933b4; color: #fff; }

input[type="text"], 
input[type="password"], 
input[type="email"]{
	height: 40px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #fff;
    border: 3px solid #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;

    color: #888;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}


input[type="text"]:focus, 
input[type="password"]:focus{
	outline: 0;
	background: #fff;
    border: 3px solid #fff;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, 
textarea:-moz-placeholder, textarea.form-control:-moz-placeholder { color: #888; }

input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, 
textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder { color: #888; }

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder { color: #888; }

h5 > a{
	color: #74b8fc; 
}

h5 > a:hover{
	color: #aad9ff; 
}
.centro-cadastro
{
	width: 1200px;
	height: 100%;
	margin: auto;
	position: absolute;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;

    padding: 1.5rem;
    background-color: #341d35 !important;
}

label.error {
    color:#CCC;
}